/* ================= PART 1 ================= */

.image-preview {
  text-align: center;
  margin-top: 40px;
}

.image-preview img {
  border-style: solid;
  border-width: 30px;

  border-top-color: skyblue;
  border-right-color: lightpink;
  border-bottom-color: lightgreen;
  border-left-color: #ffefd5;
}

/* ================= PART 2 ================= */

p > span { 
    color: red; 
}

#header span { 
    color: pink; 
}

span { 
    color: green; 
}

#header *:last-child { 
    color: orange; 
}

#header span:first-child:hover { 
    color: blue; 
}


/* ================= Table Styling ================= */

table {
  border-collapse: collapse;
  width: 60%;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #ddd;
}
